.ios, .md {
 
    page-home2 {
 	  
      .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
      }
 
    }
 
}

 page-home {
 	  .block {
 	  position:relative;
 	  .deleteIcon{
 	  position: absolute;
 	  margin-left:85%;
 	  margin-top:5px;
 	  color: #FFFFFF;

 	  }
 	  
 	  }
 	  }