<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
     <ion-buttons end>
      <button ion-button (click)="addMarker()"><ion-icon name="add"></ion-icon>Add Marker</button>
    </ion-buttons>  
  </ion-navbar>
</ion-header>

<ion-content padding>
 <div #map id="map"></div>  

 {{latitud}}  {{latitud}}


 <button ion-button full (click)="takePhoto()">
 <ion-icon name="camera"></ion-icon> Tomar Foto</button>

<ion-grid>
  <ion-row>
    <ion-col col-6 *ngFor="let photo of photos; let id = index">
       <ion-card class="block">
       <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
   <img [src]="photo" *ngIf="photo"/>
 </ion-card>
    </ion-col>


  </ion-row>

</ion-grid>

</ion-content>
